* Expression
hello
-87.8 Value
- Expression
/ Expression
+ Expression
6 Value

String is a data type in python like integer
Variable is something where we can store the data of any form ex- string or integer or logical

an expression is a symbol which we can use to apply different mathematical calculation on the data

In [13]:
import os

In [19]:
import os
current_path = os.getcwd()
print(os.getcwd())

C:\Users\singh

In [24]:
#pip install pandas

In [25]:
import pandas as pd

In [28]:
df = pd.read_csv('C:\scrap\data.csv')
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [29]:
os.chdir("C:\scrap")

In [30]:
print(os.getcwd())

C:\scrap

In [32]:
df = pd.read_csv('data.csv')
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0